@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  /* A beautiful soft blue that perfectly matches the blue-600 buttons */
  background-color: #eff6ff; 
  color: #0f172a;
  font-family: ui-sans-serif, system-ui, sans-serif;
}
